
    <nav id="mainNavbar" class="navbar  bg-zenInfo navbar-expand-md py-0 fixed-top">
        <div class="container">
        <a href="#" routerLink="/home" class="navbar-brand">ZEN</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/home" href="" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/menu" href="" class="nav-link">MENU</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/locationcontact" href="" class="nav-link">LOCATION/CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
