.footer {
    height: 100px;
  }

.container {
  background-color: #61714D;
}

.outer-background {
  background-color: #61714D;
  font-family:'Courier New', Courier, monospace;
}

.sigdrinks {
  font-weight: bold;
  font-size: 20px
}

.drinkname {
  font-weight: bold;
}